@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  margin: 0%;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
}

.container {
  background-color: #fafafa;
  width: 100vw;
  height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform-origin: top left;
  transform: rotate(-20deg);
  transition: transform 0.5s linear;
}

.circle-container {
  position: fixed;

  left: -100px;
  top: -100px;
}
.circle {
  background-color: #ff7979;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  transition: transform 0.5s linear;
}

.circle button {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}
.circle button#open {
  left: 60%;
}
.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}
.content img {
  max-width: 100%;
}
